<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
    <section th:fragment="attendancelist">
        <div class="container bg-light shadow p-3 mt-5">
            <div class="mb-3">
              <h3 class="text-decoration-none text-center">
                All Attendance List
              </h3>
            </div>
            <div class="add-schedule d-flex justify-content-between mb-2">
              <div>
                <input type="date">
              </div>
              <div class="d-flex text-align-center">
                <span class="me-2">
                  <select class="form-select " aria-label="Disabled select example">
                    <option selected disabled>Select Batch</option>
                    <option value="1">OJT Batch 1</option>
                    <option value="2">JWD Batch 3</option>
                    <option value="3">FDC Batch 5</option>
                  </select>
                </span>
                <button class="btn btn-primary text-light me-2">View Batch</button>
                <button type="button" class="btn btn-secondary">Export<i
                  class="fas fa-file-export ms-2"></i></button>
                </div>
            </div>
            <hr>
            <div class="table">
              <table id="datatable" class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Date</th>
                    <th>Attendance Status</th>
                    <th>Batch</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>STU001</td>
                    <td>Mary</td>
                    <td>01-06-2022</td>
                    <td>Present</td>
                    <td>OJT Batch 2</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>STU002</td>
                    <td>Mary</td>
                    <td>02-06-2022</td>
                    <td>Absent</td>
                    <td>OJT Batch 2</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>STU003</td>
                    <td>Tun Tun</td>
                    <td>01-06-2022</td>
                    <td>Leave</td>
                    <td>OJT Batch 2</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>STU004</td>
                    <td>John</td>
                    <td>01-06-2022</td>
                    <td>Present</td>
                    <td>OJT Batch 2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </section>
</body>
</html>