<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
    <section th:fragment="teacherregister">
        <div class="container paddings col-md-8">
            <div class="col mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center mb-4">
                                <h3 style="color: darkblue;"><i
                                        class="fas fa-chalkboard-teacher me-2"></i>Register Teacher</h3>
                            </div>
                            <form action="">
                                <div class="row mx-2">
                                    <div class="col-md-12 form-group mb-3">
                                        <label for="teacher-id">Teacher ID</label>
                                        <input type="text" name="teacher-id" id="teacher-id"
                                               class="form-control form-control-sm mt-2" placeholder="Enter Teacher ID">
                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <label for="teacher-name">Teacher Name</label>
                                        <input type="text" name="teacher-name" id="teacher-name"
                                               class="form-control form-control-sm mt-2" placeholder="Enter Teacher Name">
                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <label for="teacher-name">Email</label>
                                        <input type="text" name="teacher-name" id="teacher-name"
                                               class="form-control form-control-sm mt-2" placeholder="Enter Email">
                                    </div>
                                    <div class="col-md-12 form-group mb-4">
                                        <label for="course">Image</label>
                                        <input type="file" name="course" id="course"
                                               class="form-control form-control-sm mt-2" placeholder="Enter Course">
                                    </div>
                                    <div class="d-flex justify-content-end mb-3">
                                        <button type="reset" class="btn btn-outline-danger me-2">Cancel</button>
                                        <button type="submit" class="btn btn-outline-primary">Register
                                            Teacher</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>